* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aleo", serif;
}

section {
  margin-bottom: 120px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

/* Start Header Section Area */

#header-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.479)),
    url(images/donation8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.header-area-content {
  width: 100%;
  position: absolute;
  top: 120px;
  text-align: center;
  color: white;
}

.header-area-content p {
  padding: 25px;
  font-size: 18px;
}

.link-button {
  background: tomato;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
}
/* End Header Section Area */

/* Start Donate Section Area */
.heading-content {
  width: 100%;
  position: relative;
  text-align: center;
}

.heading-content p {
  padding: 25px;
  font-size: 18px;
}

.amount-box-area {
  display: flex;
  justify-content: center;
}

.amount-box {
  align-items: center;
  padding: 40px;
  height: 23%;
  border-radius: 5px;
  margin: 10px;
  background: #c9a8a329;
  cursor: pointer;
}
#box-design {
  border: 2px solid rgb(160, 77, 62);
  background: #de91df30;
  padding: 38px;
}

#donated-text-btn-area {
  text-align: center;
  margin-top: 49px;
}

#input-box input {
  width: 65%;
  text-align: center;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #80808047;
}

#input-box {
  margin-bottom: 12px;
  width: 100%;
  position: relative;
  text-align: center;
}
#input-box form {
  background: #ffa50026;
}
form #email {
  width: 205px;
}
/* End Donate Section Area */

/* Start Donate plane Section Area */

.donate-plan {
  display: flex;
  width: 100%;
  justify-content: center;
}

.donate-plan-box {
  width: 20%;
  margin: 8px;
  padding: 40px 15px 40px 15px;
}

#food {
  background: #d1f2d1;
}
#shelter {
  background: hwb(352 87% 7%);
}
#education {
  background: #eee5d4;
}

.donate-plan-box h2 {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* end Donate plane Section Area */

/* Start Latest News Area */
.news-box {
  width: 30%;
  display: block;
  background-size: cover;
  float: left;
  border: 1px solid #80808014;
  margin: 16px;
  cursor: pointer;
}

.news-area {
  display: flex;
  width: 100%;
  justify-content: center;
}

.news-img img {
  width: 100%;
  height: 310px;
}

.news-img {
  margin: 15px;
}

.news-img-heading {
  padding: 8px;
}

/* End Latest News Area*/

/* Start Get My Update Area*/

form {
  display: flex;
  width: 45%;
  margin-left: 358px;
  padding: 50px 132px;
}

#input-box {
  margin-bottom: 12px;
}
#email {
  width: 250px;
}

/* End Get My Update Area*/

/* Start Footer Section Area */

#footer-section {
  background: black;
  margin-bottom: 0;
  align-items: center;
  text-align: center;
  height: 122px;
}

footer h2 {
  color: tomato;
  padding: 30px;
}
footer p {
  color: white;
}
/* /* End Footer Section Area */
